<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="AzureTextTranslationServiceEndpoint" value="https://api-eur.cognitive.microsofttranslator.com"/>
      <add key="AzureTextTranslationServiceKey" value="38fc9fef17b94149bcfdbf6ef8d55eff"/>
    </appSettings>
</configuration>